<html>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/articles/list">Articles</a></li>
    <li class="breadcrumb-item active">Add</li>
  </ol>
  <h1 class="display-4">Add Article</h1>
  <form method="post" action="/articles/create">
    <input type="hidden" name="_csrf" value="<%- _csrf %>" />
    <div class="form-group">
      <label for="title">Title</label>
      <input id="title-input" type="text" name="title" class="form-control" />
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      <textarea id="body-input" name="body" class="form-control"></textarea>
    </div>
    <input
      id="submit-btn"
      type="submit"
      value="Submit"
      class="btn btn-primary"
    />
  </form>
  <script>
    // function addClick() {
    //   var title = document.getElementById("title-input").value;
    //   var body = document.getElementById("body-input").value;
    //   addArticle(title, body);
    // }
    // function addArticle(title, body) {
    //   var mysql = require("mysql");
    //   alert(mysql);
    //   let con = mysql.createConnection({
    //     host: "as16.iotfm.org",
    //     user: "raj",
    //     password: "123456789",
    //     database: "fisdb"
    //   })
    //   con.connect(function(err) {
    //     if (err) throw err;
    //     var sql =
    //       `INSERT INTO articles(title, body) values(${title}, ${body})`;
    //       alert(sql);
    //     con.query(sql, function(err, result) {
    //       if (err) throw err;
    //     });
    //   });
    // }
  </script>
</html>
