<div id="welcome">
  <div class="container">
    <h1 class="display-4">Welcome</h1>
    <p class="mb-4">A Sails.js app</p>
    <a href="articles/list" class="btn btn-light">View Articles</a>
    <a href="articles/add" class="btn btn-light">Add Articles</a>
  </div>

  <router-view></router-view>

